# Core CLI Framework & UI
cmd2 < 3.0.0
rich
rich-argparse
questionary

# Configuration & Environment
PyYAML
python-dotenv

# Features (Target Gathering, Proxy, etc.)
python-whois
dnspython
tldextract
PySocks
psutil
requests
nvidia-ml-py

# Web UI (Pro Feature)
flask
flask-socketio
ptyprocess

# Testing
pytest
pytest-order
