# pwnity proxychains template
# Available placeholders: $proxy.type, $proxy.host, $proxy.port, $proxy.username, $proxy.password

proxy_dns

[ProxyList]
# The proxy server to use for this job
$proxy.type $proxy.host $proxy.port