# pwnity tsocks template
# Available placeholders: $proxy.type, $proxy.host, $proxy.port, $proxy.username, $proxy.password

server = $proxy.host
server_port = $proxy.port
server_type = 5 # Assuming SOCKS5
default_user = $proxy.username
default_pass = $proxy.password